* {
    margin: 0;
    padding: 0;
}

// .center {
//     padding-left: calc(50% - 570px);
//     padding-right: calc(50% - 570px);
// }

.product-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.product {
    width: 340px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__img {
        width: 300px;
        margin-bottom: 10px;
    }

    &__button {
        margin-top: 10px;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: #0056b3;
        }
    }
}