@use 'vars';
@use 'mixins';

* {
    margin: 0;
    padding: 0;
}

%font-normal {
    font-family: sans-serif;
    font-weight: normal;
}

.container {
    width: $widthSite;
}

.color-text {
    color: $colorText;
}

.nav {
    display: flex;
    gap: $gapSite;

    &__link {
        text-decoration: none;
        @extend %font-normal;
    }
}

.content {
    display: flex;
    gap: $gapSite;
    @include center;

    &__item {
        width: $widthSite / 4;
        height: 200px;
        border: $borderSite;
    }
}