* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.item {
    height: calc((100vh - 16px * 2) / 3);
    border: 1px solid #000;
}

@media (max-width: 1024px) {
    .content {
        grid-template-columns: repeat(3, 1fr);
    }

    .item {
        height: calc((100vh - 16px * 3) / 4);
        border: 1px solid #000;
    }
}

@media (max-width: 767px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }

    .item {
        height: calc((100vh - 16px * 2) / 3);
        // height: calc((100vh - 16px * 5) / 6);
        border: 1px solid #000;
    }
}