body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.audio-block {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Цвет фона для блока аудио */
}

.video-block {
    height: 100vh;
    position: relative;
    overflow: hidden;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-block video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1; /* Помещаем видео на задний план */
}