* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

.title {
    font-size: 4rem;
}

.subtitle {
    font-size: 3rem;
}

.text {
    font-size: 2rem;
}

@media (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 12px;
    }
}