@import 'vars';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
}

.container {
    width: $widthSite;
}

.color-text {
    color: $colorText;
}

.nav {
    display: flex;
    gap: $gapSite;

    &__link {
        text-decoration: none;
    }
}

.content {
    display: flex;
    gap: $gapSite;

    &__item {
        width: $widthSite / 4;
        height: 200px;
        border: $borderSite;
    }
}