@import 'vars';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
}

%font-normal {
    font-family: sans-serif;
    font-weight: normal;
}

// Выделение текста
.color-text {
    color: $colorText;
}

.nav {
    display: flex;
    gap: $gapSite;

    &__link {
        text-decoration: none;
        @extend %font-normal;
    }
}

.content {
    width: $widthSite;
    display: flex;
    gap: $gapSite;
    @include center();

    &__item {
        width: $widthSite / 4;
        border: $frame;
        height: 200px;
    }
}